$font-size-smail: 7px;

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin margin-padding {
  margin: 5px;
  padding: 10px;
}

@mixin border-sizing($color) {
  border-radius: 5px;
  border: 1px solid $color;
}

.container {
  @include border-sizing(#e4e4e4);
  width: 400px;
  height: 450px;
  margin: 50px auto;
  padding: 60px 30px;
}

.title {
  @include flex-center;
  margin-top: 30px;
  margin-left: 0;
}

.loginArea {
  @include flex-center;
  flex-direction: column;
  margin: 10px 30px;
}

.inputId,
.inputPassword {
  @include margin-padding;
  @include border-sizing(lightgray);
  display: flex;
  background-color: #f7f7f7;
  font-size: $font-size-smail;
}

.btn {
  @include flex-center;
  @include margin-padding;
  @include border-sizing(white);
  background-color: #add3ea;
  color: white;
  cursor: pointer;
}

.find-password {
  @include flex-center;
  margin-top: 100px;
  color: #3e98f2;
  font-family: "Courier New", Courier, monospace;
  font-size: $font-size-smail;
  text-decoration: none;
}
