.menu__list {
  text-decoration: none;
  color: lightgray;
}

section {
  font-family: "Courier New", Courier, monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
  background-color: #f6f5ee;
}

.navbar__title {
  padding-top: 5px;
}

.navbar__menu {
  display: flex;
  padding-right: 5px;
  list-style: none;
  font-family: "Gowun Dodum", sans-serif;
}

.navbar__menu li {
  padding: 5px 5px;
  font-size: 8px;
}

.menuInfo {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-bottom: 7px;
  background-color: #f4f4f2;
}

.menuInfo li:first-child {
  font-size: 12px;
  padding-top: 7px;
}

.menuInfo li:last-child {
  padding-top: 10px;
  padding-left: 5px;
  font-size: 7px;
}

.lastList {
  display: flex;
}

.lastList__items {
  padding-right: 10px;
  margin-bottom: 10px;
}

.list {
  display: flex;
}

.list__items {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
}

.imgs {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.imgs img {
  width: 100px;
  height: 100px;
  transition: all 0.7s linear;
}

.imgs img:hover {
  transform: scale(1.1);
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 8px;
}
